.title-blocks{
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
}

.parameters_container{
    display: grid;
    grid-template-columns: repeat(3, 350px); /* 3 столбца */
    grid-template-rows: repeat(12, auto); /* 7 строк с автоматической высотой */
    gap: 10px; /* Промежуток между элементами */
    padding-left: 40px; 
    padding-top: 20px;
}

.parameters_season{
    grid-column: span 2;
    width: 100px;
    height: 30px;
    align-items: start;
}
#parameters_season-smooth{
    grid-column: span 4;
}
#parameters_oos{
    grid-column: span 2;
    width: 100px;
    height: 30px;
    color: red;
}
#parameters_recovery-method{
    grid-column: span 2;
}

#parameters_promo{
    grid-column: span 2;
}